<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz App -challenging your mind</title>
    <!-- JQuery CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<!-- Import Fonts Bungee && Source Sans Pro -->
		<!-- main Header -->
    <link rel="stylesheet" href="styles/main-header.css" type="text/css" />
		<!-- format styles later ...  -->
</head>

<body>

	<header>
		<h2><a href="#">Website Logo</a></h2>
		<nav>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contacts</a></li>
			<li><a href="#">Login</a></li>
		</nav>
	</header>


	<section class="hero">
		<div class="background-image" style="background-image: url(https://www.wallpapers13.com/vancouver-city-in-canada-west-coast-seaport-in-british-columbia-night-landscape-hd-wallpaper/);"></div>
		<h1>Congratulations you have been approved!</h1>
		<h3>Your total score is 100%</h3>
		<a href="https://localhost:8080" class="btn">Home Button</a>
	</section>


	<section class="your-test">
		<h3 class="title">Quiz</h3>
		<p class="quiz-img">— insert picture</p>
		<p>Lorem ipsum dolor sit Description, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
		<hr>

		<section class="Results">
			<h3 class="title">Question 1</h3>
			<p class="question-img">— insert picture</p>
			<p class="quote">alternative 1.</p>
			<p class="quote">alternative 1.</p>
			<p class="quote">alternative 1.</p>
			<p class="quote">alternative 1.</p>
			<p class="quote">alternative 1.</p>		
		</section>
		
	</section>
	



	<footer>
		<ul>
			<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
			<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
			<li><a href="#"><i class="fa fa-snapchat-square"></i></a></li>
			<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
			<li><a href="#"><i class="fa fa-github-square""></i></a></li>
		</ul>
		<p>Made by <a href="https://www.lighthouselabs.ca/" target="_blank">Boot camp lighthouselabs link</a>. </footer>
	<!-- scripts enter here -->
	<script src="../public/scripts/results.js"></script>		
</body>

</html>