main {
  margin: 2rem 4rem;
}

#create {
  float: left;
  width: 35%;
  margin-right: 0.5rem;
}

#tables {
  float: right;
  width: 60%;
  margin-left: 0.5rem;
}

#create-a-new-quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  color: beige;
  background-color: chocolate;
  font-size: 1.2em;
  border: 0.2em solid chocolate;
  border-radius: 0.2em;
  padding: 0.4em;
  &:hover {
    background-color: saddlebrown;
    border: 0.2em solid saddlebrown;
    cursor: pointer;
    transition: 0.5s;
  }
}

#create-a-new-quiz > span {
  padding-left: 0.2em;
}

#create-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5em 0;
}

#show-quizzes, #show-results {
  background-color: #777;
  color: beige;
  cursor: pointer;
  padding: 1em;
  border: 0.2em solid #777;
  border-radius: 0.2em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

#show-quizzes:hover, #show-results:hover {
  background-color: #555;
}

.content {
  padding: 0.5em 1em;
  display: none;
  overflow: hidden;
  background-color: beige;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

#more-questions-button {
  color: beige;
  background-color: chocolate;
  border: 0.2em solid chocolate;
  border-radius: 0.2em;
  &:hover {
    background-color: saddlebrown;
    border: 0.2em solid saddlebrown;
    cursor: pointer;
    transition: 0.5s;
  }
}

.question-block {
  margin-bottom: 0.6em;
}

input[type=text] {
  border: 0.2em solid chocolate;;
  border-radius: 0.5em;
}

input[type=radio] {
  color: chocolate;
}

.question-block > input {
  margin-bottom: 0.3em;
}

.option-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.1em;
}
